*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(img2.jpg) no-repeat center center/cover ;
    height: 100vh;
    gap: 50px;
}
.titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    text-shadow: #ff9900 2px 2px 2px;
}
.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);

}

header nav ul{
    display: flex;
    gap: 10px;
}
nav ul a:hover{
    transform: scale(1.1);

}
nav a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 30px;
    background-color: black;
    border-radius: 10px;
}
nav{
    display: flex;
}

.btn{
    background-color: #ff9900;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    
}

.btn a:hover{
    transform: translate(10px);
}

@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
        gap: 20px;
    }
    nav{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
        gap: 10px;
    }
}